
<form action="/posts/<%= params[:id] %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Name:</label>

  <p><input type="text" value="<%= Post.find(params[:id]).name %>" name="name" id="name" /></p>

  <label for="content">Content:</label>

  <p><input type="text" value="<%= Post.find(params[:id]).content %>" name="content" id="content" /></p>

  <input type="submit" name="submit" value="submit"/>

</form>
